<div class="container" id="page">
  <h1>Results</h1>
    <div class="container" id="user_information">
            <h2><%= @name %></h2>

              </br>
              <h4><span>Description:</span> <%= @description %>   </h4>
              <h4><span>Followers:   </span> <%= @followers %>      </h4>
              <h4><span>Following:   </span> <%= @following %>      </h4>
              </br>

              <%= render 'favorite' %>
    </div>
    <div class="container" id="results">


                <table class="table table-striped">
                  <thead>
                      <tr>
                        <th> Word </th>
                        <th> Frequency </th>
                      </tr>
                  </thead>
                    <tbody>
                        <% @tweet_text_hash.each do |word, count|  %>
                          <tr>
                            <td><%= word.capitalize %></td>
                            <td><%= count %>              </td>
                          </tr>
                        <% end %>
                    </tbody>

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Twitter Handle</th>
                      <th>Frequency</th>
                    </tr>
                  </thead>
                    <tbody>
                            <% @tweet_ats.each do |tweet_ats_and_count| %>
                              <% tweet_ats_and_count.each_slice(2) do |tweet_at_and_count| %>
                          <tr>
                              <td><%= tweet_at_and_count[0] %></td>
                              <td><%= tweet_at_and_count[1] %></td>
                          </tr>
                          <% end %>
                            <% end %>
                    </tbody>

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Hashtag</th>
                      <th>Frequency</th>
                    </tr>
                  </thead>
                    <tbody>
                        <% @hashtags.each do |hashtags_and_count| %>
                        <tr>
                          <td><%= hashtags_and_count[0] %></td>
                          <td><%= hashtags_and_count[1] %></td>
                        </tr>
                        <% end %>
                    </tbody>
    </div>
</div>